table {
  width: 80%;
  table-layout: fixed;

  .mat-row:hover {
    cursor: pointer;
    background-color: #f5f5f5;
  }
}

::ng-deep.mat-grid-tile {
  .mat-figure {
    flex-direction: column !important;
  }
}

.mat-card {
  max-width: 80%;
  margin: 0 auto;
}
