//table {
//  width: 80%;
//  table-layout: fixed;
//
//  .mat-row:hover {
//    cursor: pointer;
//    background-color: #f5f5f5;
//  }
//}
.table-container {
  max-height: 45vh;
  overflow: auto;
}

::ng-deep.mat-grid-tile {
  .mat-figure {
    flex-direction: column !important;
  }
}

.mat-card {
  max-width: 80%;
  margin: 0 auto;
}

.header-icon {
  vertical-align: middle;
  padding-bottom: 3px;
}

.section {
  padding: 20px 0;
}

.mat-divider {
  border-top-width: 2px;
}
