<a mat-button [routerLink]="['/films']">
  <mat-icon>arrow_back</mat-icon>
  Back To List
</a>
<mat-card>
  <mat-card-title>
    <mat-icon class="header-icon">movie</mat-icon>
    {{film.title}}
  </mat-card-title>
  <mat-card-content>
<!--    <div class="section">-->
<!--      <app-availabilities-table [availabilities]="film.availabilities"></app-availabilities-table>-->
<!--    </div>-->
<!--    <mat-divider></mat-divider>-->
<!--    <div class="section">-->
<!--      <app-appliances-table [appliances]="film.appliances"></app-appliances-table>-->
<!--    </div>-->
<!--    <mat-divider></mat-divider>-->
<!--    <div class="section chart-section">-->
<!--     <app-load-curve-chart [measurements]="film.resultLoadCurve.measurements"></app-load-curve-chart>-->
<!--    </div>-->
  </mat-card-content>
</mat-card>
