table {
  width: 100%;
  table-layout: fixed;

  .mat-row:hover {
    cursor: pointer;
    background-color: #f5f5f5;
  }
}

.header-icon {
  vertical-align: middle;
  padding-bottom: 3px;
}

.section {
  padding: 20px 0;
}

.mat-divider{
    border-top-width: 2px;
}
